img {
    width: 100%;
}

.bg-dark {
    background-color: #A19E50 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.btn-info {
    color: #fff;
    background-color: #A19E50;
    border-color: #A19E50;
}

.btn-light {
    color: white;
    background-color: #A19E50;
    border-color: #A19E50;
}

.landing {
    position: relative;
    background: url('./img/showcase-2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -24px;
    margin-bottom: -50px;
}

.landing-inner {
    padding-top: 80px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-form {
    opacity: 0.9;
}

.latest-profiles-img {
    width: 40px;
    height: 40px;
}

.form-control::placeholder {
    color: #bbb !important;
}

/* Second window- Landing Page */

.second-window {
    position: relative;
    color: black;
    background-color: #D8C9AE;
}